img {
    height: 25%;
    width:25%;
    border: solid 1px black;
    margin-top: 5px;
    margin-left: 3px;
}

h5 {
    display: inline;
}

#save-btn {
    float: right;
    margin-top: 5px;
    margin-right: 3px;
}

body {
    background: black;
}