.cath-cards {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
}

h1 {
    text-align: center;
}

#login-btn {
    height: 40px;
    width:  90px;
    background-color: #22958b;
}

#logout-btn {
    height: 40px;
    width:  90px;
    background-color: #22958b
}

.form-input {
    text-align: left;
    width: 40%;
    margin-left: 5px;
}





